<div>
  <div class={{labelWrapperClassName}}>
    <label class="alias">{{renderLabel}}</label>
    {{#if required}}
      <div class='required'>Required</div>
    {{/if}}
  </div>
  <div class={{inputWrapperClassName}}>
    {{frost-text
      class=valueClassName
      disabled=disabled
      onFocusIn=(action "onFocusIn")
      onFocusOut=(action "onFocusOut")
      onInput=(action "onChange")
      placeholder=cellConfig.placeholder
      type="number"
      value=(readonly renderValue)
    }}
  </div>
</div>
{{#if renderErrorMessage}}
  <div>
    <div class={{labelWrapperClassName}}></div>
    <div class="error">
      {{renderErrorMessage}}
    </div>
  </div>
{{/if}}
