<div>
  <div class={{labelWrapperClassName}}>
    <label class="alias">{{renderLabel}}</label>
    {{#if required}}
      <div class='required'>Required</div>
    {{/if}}
  </div>
  <div class={{inputWrapperClassName}}>
    {{frost-select
      disabled=cellConfig.disabled
      onBlur=(action "onBlur")
      onInput=(action "onInput")
      onChange=(action "onChange")
      data=options
      selectedValue=value
    }}
  </div>
</div>
{{#if renderErrorMessage}}
  <div>
    <div class={{labelWrapperClassName}}></div>
    <div class="error">
      {{renderErrorMessage}}
    </div>
  </div>
{{/if}}
