<div>
  <div class={{labelWrapperClassName}}>
    <label class="alias">{{renderLabel}}</label>
    {{#if required}}
      <div class='required'>Required</div>
    {{/if}}
  </div>
  <div class={{inputWrapperClassName}}>
    {{frost-select
      disabled=cellConfig.disabled
      onInput=(action "onInput")
      onChange=(action "onChange")
      data=options
      selectedValue=value
    }}
  </div>
  {{#if errorMessage}}
    <div>
      <div class={{labelWrapperClassName}}></div>
      <div class="error">
        {{errorMessage}}
      </div>
    </div>
  {{/if}}
</div>
