<div>
  <div class={{labelWrapperClassName}}>
    <label class="alias">{{renderLabel}}</label>
    {{#if required}}
      <div class='required'>Required</div>
    {{/if}}
  </div>
  {{! TODO: use one-way binding controls? }}
  <div class={{inputWrapperClassName}}>
    {{frost-text
      class=inputClassName
      disabled=cellConfig.disabled
      onBlur=(action "onBlur")
      onFocus=(action "onFocus")
      onInput=(action "onChange")
      placeholder=cellConfig.placeholder
      type="number"
      value=renderValue
    }}
  </div>
</div>
{{#if renderErrorMessage}}
  <div>
    <div class={{labelWrapperClassName}}></div>
    <div class="error">
      {{renderErrorMessage}}
    </div>
  </div>
{{/if}}
