<div>
  <div class={{labelWrapperClassName}}>
    <label class="alias">{{renderLabel}}</label>
    {{#if required}}
      <div class='required'>Required</div>
    {{/if}}
  </div>
  <div class={{inputWrapperClassName}}>
    {{#if (eq inputType 'password')}}
      {{frost-password
        class=inputClassName
        disabled=cellConfig.disabled
        onInput=(action "onChange")
        placeholder=cellConfig.placeholder
        revealable=true
        value=(readonly value)
      }}
    {{else}}
      {{frost-text
        class=inputClassName
        disabled=cellConfig.disabled
        onInput=(action "onChange")
        placeholder=cellConfig.placeholder
        type=inputType
        value=(readonly value)
      }}
    {{/if}}
  </div>
</div>
{{#if errorMessage}}
  <div>
    <div class={{labelWrapperClassName}}></div>
    <div class="error">
      {{errorMessage}}
    </div>
  </div>
{{/if}}
