{{#if config.label}}
  {{#frost-bunsen-section
    className="model-container"
    collapsible=config.collapsible
    description=config.description
    required=isRequired
    title=config.label
  }}
    <div class={{config.classNames.cell}}>
      {{#each config.children as |child index|}}
        {{frost-bunsen-cell
          bunsenId=bunsenId
          bunsenModel=bunsenModel
          bunsenStore=bunsenStore
          config=child
          errors=errors
          onChange=onChange
          readOnly=readOnly
          value=value
        }}
      {{/each}}
    </div>
  {{/frost-bunsen-section}}
{{else}}
  <div class={{config.classNames.cell}}>
    {{#each config.children as |child index|}}
      {{frost-bunsen-cell
        bunsenId=bunsenId
        bunsenModel=bunsenModel
        bunsenStore=bunsenStore
        config=child
        errors=errors
        onChange=onChange
        readOnly=readOnly
        value=value
      }}
    {{/each}}
  </div>
{{/if}}
