<div>
  <div class={{labelWrapperClassName}}>
    <label class="alias">{{renderLabel}}</label>
    {{#if required}}
      <div class='required'>Required</div>
    {{/if}}
  </div>
  <div class={{inputWrapperClassName}}>
    {{frost-textarea
      class=valueClassName
      cols=cols
      disabled=disabled
      onBlur=(action "onBlur")
      onFocus=(action "onFocus")
      onInput=(action "onChange")
      placeholder=cellConfig.placeholder
      rows=rows
      value=(readonly transformedValue)
    }}
  </div>
</div>
{{#if renderErrorMessage}}
  <div>
    <div class={{labelWrapperClassName}}></div>
    <div class="error">
      {{renderErrorMessage}}
    </div>
  </div>
{{/if}}
