<div class='demo-container fullscreen'>
  <div class="demo-banner">
    <h1>Examples</h1>
    <p>Various model/view schemas examples</p>
  </div>
  {{#model-view-selector
    modelOptions=modelOptions
    onSelectModel=(action "onSelectModel")
    onSelectView=(action "onSelectView")
    onSelectValue=(action "onSelectValue")
    selectedModel=selectedModel
    selectedValue=selectedValue
    selectedView=selectedView
    valueOptions=valueOptions
    valueSelectionDisabled=valueSelectionDisabled
    viewOptions=viewOptions
    viewSelectionDisabled=viewSelectionDisabled
  }}
    Detail: {{frost-checkbox onInput=(action "toggleDetail")}}
    Inline: {{frost-checkbox onInput=(action "toggleInline")}}
    Show All Errors: {{frost-checkbox onInput=(action "toggleShowAllErrors")}}
    Disable: {{frost-checkbox onInput=(action "toggleDisabled")}}
    <h2 class="demo-header">Rendered Demo</h2>
    {{#if detail}}
      {{frost-bunsen-detail
        bunsenModel=selectedModel.model
        bunsenView=selectedView.view
        renderers=renderers
        value=selectedValue.value
      }}
    {{else}}
      {{frost-bunsen-form
        bunsenModel=selectedModel.model
        bunsenView=selectedView.view
        disabled=disabled
        inline=inline
        onChange=(action "onChange")
        onValidation=(action "onValidation")
        renderers=renderers
        showAllErrors=showAllErrors
        value=selectedValue.value
      }}
    {{/if}}
  {{/model-view-selector}}
  <div class="demo-code-container">
    {{#if formValue}}
      <div class="demo-code-block">
        <h2>Value</h2>
        {{ivy-codemirror value=formValue lineNumbers=true mode='javascript' theme='mdn-like'}}
      </div>
    {{/if}}
    {{#if selectedModel}}
      <div class="demo-code-block">
        <h2>Model</h2>
        {{ivy-codemirror value=modelCode lineNumbers=true mode='javascript' theme='mdn-like'}}
      </div>
   {{/if}}
    {{#if selectedView}}
      <div class="demo-code-block">
        <h2>View</h2>
        {{ivy-codemirror value=viewCode lineNumbers=true mode='javascript' theme='mdn-like'}}
      </div>
    {{/if}}
  </div>
</div>
