<div class="remove-btn-container">
  {{#frost-button
    class="medium tertiary text"
    on-click=(action "onRemove")
  }}
    Remove
  {{/frost-button}}
</div>
<div>
  {{#if cellConfig.item.renderer}}
    {{component customRenderer
      bunsenId=(concat bunsenId '.' index)
      cellConfig=cellConfig
      label=label
      model=model.items
      onChange=onChange
      readOnly=readOnly
      store=store
    }}
  {{else if (eq model.items.type "object")}}
    {{frost-bunsen-container-model
      bunsenId=(concat bunsenId '.' index)
      cellConfig=cellConfig.item
      label=label
      model=model.items
      onChange=onChange
      readOnly=readOnly
      store=store
    }}
  {{else}}
    {{frost-bunsen-input
      bunsenId=(concat bunsenId '.' index)
      cellConfig=cellConfig.item
      initialValue=initialValue
      label=label
      model=model.items
      onChange=onChange
      readOnly=readOnly
      store=store
    }}
  {{/if}}
</div>
