{{#if config.label}}
  {{#frost-bunsen-section
    className="container-model"
    collapsible=config.collapsible
    data-id=bunsenId
    instructions=config.instructions
    required=isRequired
    title=config.label
  }}
    <div class={{config.className}}>
      {{#each config.rows as |row|}}
        {{frost-bunsen-row
          bunsenId=bunsenId
          cellConfigs=row
          defaultClassName=config.defaultClassName
          model=model
          onChange=onChange
          readOnly=readOnly
          store=store
          reduxStore=reduxStore
        }}
      {{/each}}
    </div>
  {{/frost-bunsen-section}}
{{else}}
  <div class={{config.className}}>
    {{#each config.rows as |row|}}
      {{frost-bunsen-row
        bunsenId=bunsenId
        cellConfigs=row
        defaultClassName=config.defaultClassName
        model=model
        onChange=onChange
        readOnly=readOnly
        store=store
        reduxStore=reduxStore
      }}
    {{/each}}
  </div>
{{/if}}
