{{#unless state.propValidationResult.valid}}
  {{frost-bunsen-validation-result model=state.propValidationResult}}
{{else}}
  <form class="form" onsubmit={{action "on-submit"}}>
    {{frost-bunsen-container
      cellConfig=cellConfig
      model=renderModel
      on-change=(action "on-change")
      store=store
    }}
  </form>
  {{#if hasButtons}}
    <div class="form-group button-bar">
        <div>
            <div class="pull-right">
              {{#if on-cancel}}
                <button
                  class="btn btn-default pull-right"
                  onClick={{action "on-cancel"}}
                  type="button"
                >
                  {buttonLabels.cancel}
                </button>
              {{/if}}
              {{#if on-submit}}
                <button
                  class="btn btn-default pull-right"
                  disabled={{isSubmitBtnDisabled}}
                  onClick={{action "on-submit"}}
                  type="submit"
                >
                  {butonLabels.submit}
                </button>
              {{/if}}
            </div>
        </div>
    </div>
  {{/if}}
{{/unless}}
