<div class='demo-container fullscreen'>
  <div class="demo-banner">
    <h1>Renderers</h1>
    {{frost-select
      class="top-right-select"
      data=rendererOptions
      hook='rendererSelect'
      onChange=(action "onSelectedRendererChange")
      selectedValue=renderer
    }}
    <p>This is a list of the different view renderers built into ember-frost-bunsen</p>
  </div>
  <div class="demo-showcase">
    <div class="demo-editor">
      <div class="ribbon">
        <div class="tabs bunsen-editor">
          <div class="tab value {{pluginClass}}" onclick={{action "selectTab" "plugin"}} role="button">
            Plugin
          </div>
          <div class="tab value {{valueClass}}" onclick={{action "selectTab" "value"}} role="button">
            Value
          </div>
          <div class="tab view {{viewClass}}" onclick={{action "selectTab" "view"}} role="button">
            View
          </div>
          <div class="tab model {{modelClass}}" onclick={{action "selectTab" "model"}} role="button">
            Model
          </div>
          <div class="tab doc {{docClass}}" onclick={{action "selectTab" "doc"}} role="button">
            Documentation
          </div>
        </div>
      </div>
      {{#unless (eq selectedTab "doc")}}
        <div class="demo-code">
          {{ivy-codemirror
            options=(hash
              lineNumbers=true
              mode="javascript"
              readOnly=true
              theme="mdn-like"
            )
            value=code
          }}
        </div>
      {{else}}
        <div class="demo-doc">
          {{markdown-to-html
            ghCodeBlocks=true
            markdown=documentation
            tables=true
          }}
        </div>
      {{/unless}}
    </div>
    <div class="demo-view">
      <br>
      {{frost-bunsen-form
        bunsenModel=bunsenModel
        bunsenView=bunsenView
        onChange=(action "onFormValueChange")
        onValidation=(action "onFormValidation")
        plugins=plugins
        value=value
      }}
    </div>
  </div>
</div>
