<div class='demo-container fullscreen'>
  <div class="demo-banner">
    <h1>Renderers</h1>
    <p>This is a list of the different view renderers built into ember-frost-bunsen</p>
  </div>
  {{frost-select
    data=rendererOptions
    onChange=(action "onSelectedRendererChange")
    selectedValue=selectedRendererValue
  }}
  <h2>Documentation</h2>
  {{markdown-to-html markdown=documentation ghCodeBlocks=true}}
  <h2>Example</h2>
  <div class="flex-grid">
    <div class="one-third">
      <h3>Model</h3>
      {{ivy-codemirror value=(to-json bunsenModel) lineNumbers=true mode='javascript' theme='mdn-like'}}
    </div>
    <div class="one-third">
      <h3>View</h3>
      {{ivy-codemirror value=(to-json bunsenView) lineNumbers=true mode='javascript' theme='mdn-like'}}
    </div>
    <div class="one-third">
      <h3>Demo</h3>
      {{frost-bunsen-form
        model=bunsenModel
        onChange=(action "onFormValueChange")
        value=bunsenValue
        view=bunsenView
      }}
    </div>
  </div>
</div>
