<div>
  <div class={{labelWrapperClassName}}>
    <label class="alias">{{renderLabel}}</label>
    {{#if required}}
      <div class='required'>Required</div>
    {{/if}}
  </div>
  <div class={{inputWrapperClassName}}>
    {{frost-text
      class=inputClassName
      disabled=cellConfig.disabled
      on-input=(action "on-change")
      placeholder=cellConfig.placeholder
      type=inputType
      value=renderValue
    }}
  </div>
</div>
{{#if errorMessage}}
  <div>
    <div class={{labelWrapperClassName}}></div>
    <div class="error">
      {{errorMessage}}
    </div>
  </div>
{{/if}}
