{{#model-view-selector
  modelOptions=modelOptions
  onSelectModel=(action "onSelectModel")
  onSelectView=(action "onSelectView")
  selectedModel=selectedModel
  selectedView=selectedView
  valueSelectionDisabled="true"
  viewOptions=viewOptions
  viewSelectionDisabled=viewSelectionDisabled
}}
  <h2 class="demo-header">Rendered Demo</h2>
  <div class='double-bunsen'>
  {{frost-bunsen-form
    model=selectedModel.model
    renderers=renderers
    value=selectedValue.value
    view=selectedView.view
    onChange=(action "onValueChange")
  }}

  {{frost-bunsen-detail
    model=selectedModel.model
    renderers=renderers
    value=formValue
    view=selectedView.view
  }}
  </div>
  {{frost-button onClick=(action "updateValue") text="Update Detail"}}
  <div class="demo-code-container">
    {{#if renderValue}}
      <div class="demo-code-block">
        <h2>Value</h2>
        {{!-- TODO: why is the below component not updating the formValue --}}
        <pre class="value-code-block">{{renderValue}}</pre>
      </div>
    {{/if}}
    {{#if selectedModel}}
      <div class="demo-code-block">
        <h2>Model</h2>
        {{#code-block language='json'}}{{modelCode}}{{/code-block}}
      </div>
    {{/if}}
    {{#if selectedView}}
      <div class="demo-code-block">
        <h2>View</h2>
        {{#code-block language='json'}}{{viewCode}}{{/code-block}}
      </div>
    {{/if}}
  </div>
{{/model-view-selector}}
