<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{#if value}}
    ✓
  {{else}}
    ✘
  {{/if}}
</div>
{{#if renderErrorMessage}}
  <div>
    <div class={{labelWrapperClassName}}>
    </div>
    <div class="error">
      {{renderErrorMessage}}
    </div>
  </div>
{{/if}}
