<label class={{labelWrapperClassName}}>
	{{renderLabel}}
	{{#if required}}
		<div class='frost-bunsen-required'>Required</div>
	{{/if}}
</label>
<div class={{inputWrapperClassName}}>
	{{frost-date-time-picker
		hook='date-time-picker'
		class=(if dateTimeValueInvalid 'error')
		value=dateTimeValue
		onChange=(action 'onDateTimeChange')
	}}
</div>
{{#if renderErrorMessage}}
  <div class="frost-bunsen-error">
    {{renderErrorMessage}}
  </div>
{{/if}}
