<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if required}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  <a
    class={{valueClassName}}
    href={{value}}
    onFocusIn={{action (action 'hideErrorMessage')}}
    onFocusOut={{action (action 'showErrorMessage')}}
    onInput={{action (action 'handleChange')}}
  >
    {{linkLabel}}
  </a>
</div>
{{#if renderErrorMessage}}
  <div class='error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
