<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='frost-bunsen-required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{frost-url-input
    class=valueClassName
    disabled=disabled
    hook=(concat hook '-urlInput')
    onFocusIn=(action 'hideErrorMessage')
    onFocusOut=(action 'showErrorMessage')
    onInput=(action 'handleChange')
    placeholder=placeholder
    type=inputType
    value=(readonly transformedValue)
  }}
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
