<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{frost-url-input
    class=valueClassName
    disabled=disabled
    onFocusIn=(action 'hideErrorMessage')
    onFocusOut=(action 'showErrorMessage')
    onInput=(action 'handleChange')
    placeholder=cellConfig.placeholder
    type=inputType
    value=(readonly transformedValue)
  }}
  {{#if cellConfig.description}}
    {{frost-bunsen-description-bubble description=cellConfig.description}}
  {{/if}}
</div>
{{#if renderErrorMessage}}
  <div class='error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
