<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if required}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{#if route}}
    {{#link-to route value}}
      {{linkLabel}}
    {{/link-to}}
  {{else}}
    <a
      class={{valueClassName}}
      href={{url}}
      onFocusIn={{action (action 'hideErrorMessage')}}
      onFocusOut={{action (action 'showErrorMessage')}}
      onInput={{action (action 'handleChange')}}
    >
      {{linkLabel}}
    </a>
  {{/if}}
</div>
{{#if renderErrorMessage}}
  <div class='error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
