{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
    {{#if showRequiredLabel}}
      <div class='frost-bunsen-required'>Required</div>
    {{/if}}
  </label>
{{/if}}
<div class={{inputWrapperClassName}}>
  {{frost-select
    class=valueClassName
    data=data
    disabled=(readonly disabled)
    hook=hook
    onChange=(action 'handleChange')
    options=cellConfig.renderer.options
    placeholder=placeholder
    selectedValue=useKey
  }}
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
