{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
  </label>
{{/if}}
<div class={{inputWrapperClassName}}>
  <img
    alt={{dereferencedAlt}}
    src={{dereferencedSrc}}
  >
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
