{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
    {{#if required}}
      <div class='frost-bunsen-required'>Required</div>
    {{/if}}
  </label>
{{/if}}
{{#frost-radio-group
  options=(hash
    id=groupId
    hook=(concat hook '-radio-group')
    selectedValue=selectedValue
  )
  onChange=(action 'selectedButton')
  as |controls|
}}
  {{controls.button
    label=cellConfig.renderer.label
    size=size
    value=firstButtonValue
  }}
  {{#controls.button
    size=size
    value=dateValue
  }}
    {{frost-date-time-picker
      id=dateId
      hook=(concat hook '-radio-button')
      dateFormat=dateFormat
      timeFormat=timeFormat
      defaultDate=(readonly date)
      defaultTime=(readonly time)
      onFocusIn=(action 'hideErrorMessage')
      onFocusOut=(action 'showErrorMessage')
      onChange=(action 'selectDate')
      value=storedDateTimeValue
    }}
  {{/controls.button}}
{{/frost-radio-group}}
{{#if renderErrorMessage}}
  <div class="frost-bunsen-error">
    {{renderErrorMessage}}
  </div>
{{/if}}
