{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
    {{#if showRequiredLabel}}
      <div class='frost-bunsen-required'>Required</div>
    {{/if}}
  </label>
{{/if}}
<div class={{inputWrapperClassName}}>
  {{frost-multi-select
    class=valueClassName
    data=options
    disabled=disabled
    error=(if renderErrorMessage true false)
    hook=hook
    onInput=onInput
    onChange=(action 'handleChange')
    placeholder=placeholder
    selectedValue=mutableValue
    width=width
  }}
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
