<div class={{labelWrapperClassName}}>
  {{renderLabel}}
</div>
<div class={{inputWrapperClassName}}>
  <p>{{renderValue}}</p>
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
