<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if required}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{frost-textarea
    class=valueClassName
    cols=cellConfig.renderer.cols
    disabled=disabled
    hook=hook
    onFocusIn=(action "onFocusIn")
    onFocusOut=(action "onFocusOut")
    onInput=(action "onChange")
    placeholder=cellConfig.placeholder
    rows=cellConfig.renderer.rows
    value=(readonly transformedValue)
  }}
</div>
{{#if renderErrorMessage}}
  <div class="error">
    {{renderErrorMessage}}
  </div>
{{/if}}
