<div class='heading'>
  {{#if collapsible}}
    <button onclick={{action (action 'toggle')}}>
      {{frost-icon
        icon='expand-collapse'
      }}
    </button>
  {{/if}}
  <h3>
    {{title}}
  </h3>
  {{#if required}}
    <div class='required'>Required</div>
  {{/if}}
  {{#if clearable}}
    {{frost-button
      onClick=onClear
      priority='tertiary'
      size='small'
      text='Clear'
    }}
  {{/if}}
</div>
<div class='body'>
  {{#if showContent}}
    {{#if description}}
      <div class='description'>
        {{description}}
      </div>
    {{/if}}
    {{yield}}
  {{/if}}
</div>
