<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='frost-bunsen-required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  <div class='frost-bunsen-input-checkbox-array-checkbox-container'>
    {{#each options as |option|}}
      {{frost-checkbox
        class=valueClassName
        disabled=disabled
        hook=(concat hook '-checkbox-' option.value)
        onInput=(action 'handleChange')
        size=size
        value=option.value
        label=option.label
        checked=option.checked
      }}
    {{/each}}
  </div>
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
