<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='frost-bunsen-required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{#if route}}
    {{#frost-link route value
      design='inline'
      hook=(concat hook '-link')
      onClick=(action 'handleClick')
    }}
      {{linkLabel}}
    {{/frost-link}}
  {{else}}
    <a
      class={{valueClassName}}
      href={{url}}
      onclick={{action 'handleClick'}}
    >
      <div class="content text">
        {{linkLabel}}
      </div>
    </a>
  {{/if}}
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
