{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
  </label>
{{/if}}
<div class={{inputWrapperClassName}}>
  <img
    alt={{alt}}
    src={{src}}
  />
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
