{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
    {{#if showRequiredLabel}}
      <div class='frost-bunsen-required'>Required</div>
    {{/if}}
  </label>
{{/if}}
<div class={{inputWrapperClassName}}>
  {{#if route}}
    {{#frost-link route value
      design='inline'
      hook=(concat hook '-link')
      onClick=(action 'handleClick')
    }}
      {{dereferencedLinkLabel}}
    {{/frost-link}}
  {{else}}
    <a
      class={{valueClassName}}
      href={{dereferencedUrl}}
      onclick={{action 'handleClick'}}
    >
      <div class="content text">
        {{dereferencedLinkLabel}}
      </div>
    </a>
  {{/if}}
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
