{{#if (not cellConfig.hideLabel)}}
  <label class={{labelWrapperClassName}}>
    {{renderLabel}}
    {{#if showRequiredLabel}}
      <div class='frost-bunsen-required'>Required</div>
    {{/if}}
  </label>
{{/if}}
<div class={{inputWrapperClassName}}>
  <div class='frost-bunsen-input-checkbox-array-checkbox-container'>
    {{#each options key='value' as |option|}}
      {{frost-checkbox
        checked=option.checked
        class=valueClassName
        disabled=disabled
        hook=(concat hook '-checkbox-' option.value)
        label=option.label
        onInput=(action 'handleChange')
        options=cellConfig.renderer.options
        size=size
        value=option.value
      }}
    {{/each}}
    {{frost-bunsen-description-bubble
      description=cellConfig.description
    }}
  </div>
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
