<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if required}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{#each options as |option index|}}
    {{#frost-button
      disabled=disabled
      onClick=(action "onChange" index)
      priority=(if (eq index activeIndex) "primary" "secondary")
      size=size
    }}
      {{option}}
    {{/frost-button}}
  {{/each}}
</div>
{{#if renderErrorMessage}}
  <div class="error">
    {{renderErrorMessage}}
  </div>
{{/if}}
