{{#if (and (not compact) showRemoveButton (not readOnly))}}
  <div class='frost-bunsen-remove-btn-container'>
    {{frost-button
      disabled=disabled
      hook=(concat hook '-removeBtn')
      onClick=(action 'remove')
      priority='tertiary'
      size='medium'
      text='Remove'
    }}
  </div>
{{/if}}
{{#if sortable}}
  {{frost-icon
    class='frost-bunsen-handle'
    hook=(concat hook '-sortIcon')
    icon='menu'
  }}
{{/if}}
<div class='frost-bunsen-item-input'>
  {{#if (eq renderModel.type 'array')}}
    {{frost-bunsen-array-container
      bunsenId=renderId
      bunsenModel=renderModel
      bunsenView=bunsenView
      cellConfig=cellConfig
      errors=errors
      formDisabled=formDisabled
      hook=hook
      label=label
      onChange=onChange
      onFocus=onFocus
      onError=onError
      readOnly=readOnly
      registerForFormValueChanges=registerForFormValueChanges
      registerValidator=registerValidator
      renderers=renderers
      showAllErrors=showAllErrors
      triggerValidation=triggerValidation
      unregisterForFormValueChanges=unregisterForFormValueChanges
      value=value
      valueChangeSet=valueChangeSet
    }}
  {{else if (eq renderModel.type 'object')}}
    {{frost-bunsen-cell
      bunsenId=renderId
      bunsenModel=renderModel
      bunsenView=bunsenView
      cellConfig=cellConfig
      errors=errors
      formDisabled=formDisabled
      hook=hook
      isRequired=(frost-bunsen-is-required
        bunsenModel=renderModel.items
        cell=itemCell
        cellDefinitions=bunsenView.cellDefinitions
        value=value
      )
      label=label
      onChange=onChange
      onFocus=onFocus
      onError=onError
      readOnly=readOnly
      registerForFormValueChanges=registerForFormValueChanges
      registerValidator=registerValidator
      renderers=renderers
      showAllErrors=showAllErrors
      triggerValidation=triggerValidation
      unregisterForFormValueChanges=unregisterForFormValueChanges
      value=value
      valueChangeSet=valueChangeSet
    }}
  {{else}}
    {{frost-bunsen-input-wrapper
      bunsenId=renderId
      bunsenModel=renderModel
      bunsenView=bunsenView
      cellConfig=cellConfig
      errorMessage=errorMessage
      formDisabled=formDisabled
      hook=hook
      label=label
      onChange=onChange
      onFocus=onFocus
      onError=onError
      readOnly=readOnly
      registerForFormValueChanges=registerForFormValueChanges
      registerValidator=registerValidator
      renderers=renderers
      showAllErrors=showAllErrors
      triggerValidation=triggerValidation
      unregisterForFormValueChanges=unregisterForFormValueChanges
      value=renderValue
    }}
  {{/if}}
</div>
{{#if (and compact showRemoveButton (not readOnly))}}
  <div class='frost-bunsen-remove-btn-container'>
    {{frost-button
      disabled=disabled
      hook=(concat hook '-removeBtn')
      onClick=(action 'remove')
      priority='tertiary'
      size='medium'
      text='Remove'
    }}
  </div>
{{/if}}
