<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='frost-bunsen-required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{#if readOnly}}
    <span class='frost-bunsen-input-password-text'>
      {{staticValue}}
    </span>
    {{frost-button
      class='frost-bunsen-input-password-reveal'
      hook=(concat hook '-revealBtn')
      onClick=(action 'toggleRevealed')
      priority='tertiary'
      size='small'
      text=revealText
    }}
  {{else}}
    {{frost-password
      class=valueClassName
      disabled=disabled
      hook=hook
      onFocusIn=(action 'hideErrorMessage')
      onFocusOut=(action 'showErrorMessage')
      onInput=(action 'handleChange')
      placeholder=placeholder
      revealable=true
      value=(readonly transformedValue)
    }}
  {{/if}}
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
