<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='frost-bunsen-required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{frost-checkbox
    class=valueClassName
    checked=checked
    disabled=disabled
    hook=hook
    onFocusIn=(action 'hideErrorMessage')
    onFocusOut=(action 'showErrorMessage')
    onInput=(action 'handleChange')
  }}
  {{#if cellConfig.description}}
    {{frost-bunsen-description-bubble description=cellConfig.description}}
  {{/if}}
</div>
{{#if renderErrorMessage}}
  <div class='frost-bunsen-error'>
    {{renderErrorMessage}}
  </div>
{{/if}}
