{{frost-bunsen-form
  bunsenModel=subFormModel
  bunsenView=addressView
  disabled=isLoading
  hook=hook
  onChange=(action 'handleSubFormChange')
  value=subFormValue
}}
<div class="frost-bunsen-input-geolocation-action-bar">
  {{frost-button
    disabled=isLoading
    hook=(concat hook '-lookupLocationBtn')
    icon='expand-collapse'
    onClick=(action 'lookupLocation')
    priority='tertiary'
    size='small'
  }}
  {{#if (and isLoading (not isLoadingUserLocation))}}
    {{frost-loading hook=(concat hook '-loader')}}
  {{else}}
    {{frost-icon
      class=(if isLoading 'frost-bunsen-icon-faded')
      hook=(concat hook '-locationIcon')
      icon='location'
      pack='frost-bunsen'
    }}
  {{/if}}
  {{frost-button
    disabled=isLoading
    hook=(concat hook '-lookupAddressBtn')
    icon='expand-collapse'
    onClick=(action 'lookupAddress')
    priority='tertiary'
    size='small'
  }}
</div>
{{frost-bunsen-form
  bunsenModel=subFormModel
  bunsenView=locationView
  disabled=isLoading
  hook=hook
  onChange=(action 'handleSubFormChange')
  value=subFormValue
}}
{{frost-button
  disabled=isLoading
  hook=(concat hook '-useLocationBtn')
  onClick=(action 'useCurrentLocation')
  priority='secondary'
  size='small'
  text='Use current location'
}}
{{#if (and isLoading isLoadingUserLocation)}}
  {{frost-loading hook=(concat '-loader')}}
{{/if}}
{{frost-bunsen-description-bubble
  description=cellConfig.description
}}
{{#if getUserLocationErrorMessage}}
  <div class="frost-bunsen-error">
    {{getUserLocationErrorMessage}}
  </div>
{{/if}}
