{{#if description}}
  <div class="frost-bunsen-description-input">
    {{yield}}
  </div>
  <div class="frost-bunsen-description-icon">
    {{frost-icon
      icon='question'
      pack='frost-bunsen'
    }}
    {{#frost-popover
      closest=true
      position='top'
      target='.frost-bunsen-description-bubble'
    }}
      {{description}}
    {{/frost-popover}}
  </div>
{{else}}
  {{yield}}
{{/if}}
