<div class={{labelWrapperClassName}}>
  {{renderLabel}}
</div>
<div class={{inputWrapperClassName}}>
  <img
    alt={{alt}}
    src={{src}}
  />
  {{frost-bunsen-description-bubble
    description=cellConfig.description
  }}
</div>
