{{#if isInvalid}}
  {{frost-bunsen-validation-result
    model=propValidationResult
  }}
{{else}}
  <form>
    {{#if cellTabs.length}}
      {{#frost-tabs
        onChange=(action 'onTabChange')
        selection=(or selectedTabIndex 0)
      }}
        {{#each cellTabs key='id' as |tab|}}
          {{#frost-tab
            alias=tab.alias
            id=tab.id
            tabClassNames=tab.classNames
          }}
            {{frost-bunsen-cell
              bunsenModel=renderModel
              bunsenView=renderView
              cellConfig=tab.cell
              errors=renderErrors
              formDisabled=disabled
              formHook=hook
              onChange=(action 'onChange')
              readOnly=true
              registerForFormValueChanges=(action 'registerComponentForFormValueChanges')
              renderers=renderers
              showAllErrors=showAllErrors
              value=renderValue
            }}
          {{/frost-tab}}
        {{/each}}
      {{/frost-tabs}}
    {{else}}
      {{#each renderView.cells as |cell|}}
        {{frost-bunsen-cell
          bunsenModel=renderModel
          bunsenView=renderView
          cellConfig=cell
          errors=renderErrors
          formDisabled=disabled
          formHook=hook
          onChange=(action 'onChange')
          readOnly=true
          registerForFormValueChanges=(action 'registerComponentForFormValueChanges')
          renderers=renderers
          showAllErrors=showAllErrors
          value=renderValue
        }}
      {{/each}}
    {{/if}}
  </form>
{{/if}}
