<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{frost-select
    class=valueClassName
    data=data
    disabled=(readonly disabled)
    hook=receivedHook
    onChange=(action 'handleChange')
    placeholder=cellConfig.placeholder
    selectedValue=useKey
  }}
  {{#if cellConfig.description}}
    {{frost-bunsen-description-bubble description=cellConfig.description}}
  {{/if}}
</div>
