<div class='demo-container fullscreen'>
  <div class="demo-banner">
    <h1>Editor</h1>
    <p>Playground for creating bunsen models and views with rendered form.</p>
  </div>
  <div class="flex-grid">
    <div class="one-third">
      <h3 class=demo-heading">Model</h3>
      <div class={{modelClass}}>
        {{ivy-codemirror
          options=(hash
            lineNumbers=true
            mode="javascript"
            theme="mdn-like"
          )
          value=bunsenModelString
          valueUpdated=(action "modelUpdated")
        }}
      </div>
    </div>
    <div class="one-third">
      <h3 class=demo-heading">View</h3>
      <div class={{viewClass}}>
        {{ivy-codemirror
          options=(hash
            lineNumbers=true
            mode="javascript"
            theme="mdn-like"
          )
          value=bunsenViewString
          valueUpdated=(action "viewUpdated")
        }}
      </div>
    </div>
    <div class="one-third">
      <h3 class=demo-heading">Value</h3>
      <div class={{valueClass}}>
        {{ivy-codemirror
          options=(hash
            lineNumbers=true
            mode="javascript"
            theme="mdn-like"
          )
          value=bunsenValueString
          valueUpdated=(action "valueUpdated")
        }}
      </div>
    </div>
  </div>
  <h3 class=demo-heading">Demo</h3>
  {{frost-bunsen
    bunsenModel=bunsenModel
    bunsenView=bunsenView
    onChange=(action 'formChange')
    onTabChange=(action 'tabChange')
    value=bunsenValue
  }}
</div>
